#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

include /usr/share/dpkg/architecture.mk
CMAKE_FLAGS += -DDEB_HOST_MULTIARCH=$(DEB_HOST_MULTIARCH) \
			   -DPORTABLE=yes \
			   -DLOFAR_STATION_RESPONSE_INCLUDE=/usr/include \
                           -DLOFAR_STATION_RESPONSE_LIB=/usr/lib/libstationresponse.so \
			   -DSKA_SDP_FUNC_INCLUDE_DIR=/usr/include \
                           -DSKA_SDP_FUNC_LIBRARY=/usr/lib/$(DEB_HOST_MULTIARCH)/libska-sdp-func.so \
			   -DPYBIND11_PYTHON_VERSION=3 

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_FLAGS)

override_dh_installexamples:
